{{partial 'navbar'}}
{{#if searchFlag}}
  <div class="container-fluid">
    <div class="row">
      {{partial 'sidebar'}}
      {{partial 'grid'}}
    </div>
  </div>
{{else}}
  <div id="splash-div"class="container-fluid">
    <div class="row">
      <h1 class="text-center splash-text">Welcome to HistoriNews!</h1>
      <h2 class="text-center splash-text">Where your past is our present!</h2>
      <h3 class="text-center splash-text">Brought to you by the<br/>Douglas County<br/>Historical Society</h3>
    </div>
  </div>
  <div id="attribution-div"><p><a href="https://www.flickr.com/photos/abbyladybug/2957709553/">Grandmother's Newspapers</a> by <a href="https://www.flickr.com/photos/abbyladybug/">Abby</a>, used under <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC</a></p></div>

{{/if}}
