<nav class="navbar navbar-inverse navbar-fixed-top">
  <!--<div class="container-fluid">-->
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"  {{action 'reset'}}>HistoriNews</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <!-- Search Field Start -->
      <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-9 col-sm-offset-0 col-xs-12" id="search" role="search">
        <form id="search_bar_form" class="form navbar-form navbar-left" role="form">
          <div id="search_bar_group" class="input-group">
              {{#x-select value="all" id="search_bar_select" class="input-group-addon form-control" action="selectFilter"}}
                {{#x-option value="all"}}All{{/x-option}}
                {{#x-option value="newspaperTitle"}}Title{{/x-option}}
                {{#x-option value="authorName"}}Author{{/x-option}}
                {{#x-option value="newspaperName"}}Newspaper{{/x-option}}
                {{#x-option value="newspaperCreationDate"}}Date{{/x-option}}
                {{#x-option value="newspaperYear"}}Year{{/x-option}}
                {{#x-option value="keywords"}}Keywords{{/x-option}}
                {{#x-option value="ocrText"}}Content{{/x-option}}
            {{/x-select}}
            {{input id="search_bar_text" type="text" value=searchText class="form-control" placeholder="Enter something to search"}}
              <span class="input-group-btn">
                  <button class="btn btn-default no-border-left" type="submit" {{action 'search'}}>{{fa-icon icon="fa-search"}}</button>
              </span>
          </div>
        </form>
      </div>
      <!-- Search Field End -->

    </div><!-- /.navbar-collapse -->
  <!--</div>--><!-- /.container-fluid -->
</nav>